@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@100;300;400;500;700&display=swap');

:root {
    --cinza100:#231F20;
    --cinza75:#2b2d42;
    --cinza50:#8d99ae;
    --cinza25:#edf2f4;

    --azul100:#3a86ff;
    --azul50:#146eff;

    --vermelho100: #d90429;
    --vermelho50: #ef233c;

    --verde100: #344E41;
    --verde50: #3a5a40;

}
* {
    font-family: 'Poppins', sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 98vh;
    background-color: var(--cinza100);
    background-image: linear-gradient(to bottom, var(--cinza100), var(--cinza75));
}

main {
    background-color: var(--cinza50);
    height: 580px;
    width: 350px;
    border-radius: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

section {
    position: absolute;
    height: 570px;
    width: 340px;
    border-radius: 20px;
    /* background-color: var(--cinza25); */
    background-image: linear-gradient(to bottom, var(--cinza100), var(--cinza75));
    z-index: 1;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#loginBtn {
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: center;
}

.svgImage {
    width: 300px;
    position: relative;
    top: 28px;
}

/* Border animation */

main::before {
    position: absolute;
    content: '';
    height: 670px;
    width: 670px;
    background-image: conic-gradient(transparent, transparent, transparent, transparent, var(--vermelho50), var(--vermelho100));
    animation: rotate 2s linear infinite;
}

main::after {
    position: absolute;
    content: '';
    height: 670px;
    width: 670px;
    background-image: conic-gradient(transparent, transparent, transparent, transparent, var(--verde50), var(--verde100));
    animation: rotate 2s linear infinite;
    animation-delay: -1s;
}

@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

